<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
<div class="min-h-screen bg-white">
    {{ partial "head.html" . }}
    <div class="py-10">
        <header>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold leading-tight text-gray-900">
                    {{ .Title }}
                </h1>
                {{ if .Description }}
                <p class="text-sm italic">{{ .Description }}</p>
                {{ end }}
            </div>
        </header>
        <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="post">
                    {{ if ne .Type "project" }}
                    <div class="pb-10">
                        {{ if ne .Date.Year 1 }}
                        <div class="meta">
                            <div class="date">
                                {{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{
                                dateFormat "2" .Date }}, {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2 2006" .Date
                                }}{{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}

                    {{ if eq .Type "project" }}
                    <hr class="border-gray-100 my-2"/>
                    <!-- buttons -->
                    <div class="flex flex-row space-x-2 my-2">
                        {{ if ne .Params.repolink "" }}
                        <a href="{{ .Params.repolink }}" target="_blank" class="button"><i class="fab fa-github"></i> Git Repo</a>
                        {{ end }}
                        {{ if ne .Params.demolink "" }}
                        <a href="{{ .Params.demolink }}" target="_blank" class="button">Demo</a>
                        {{ end }}
                        {{ if ne .Params.bloglink "" }}
                        <a href="{{ .Params.bloglink }}" target="_blank" class="button">View Post</a>
                        {{ end }}
                    </div>
                    {{ end }}
                    <hr class="border-gray-100 my-2"/>
                    {{ .Content }}
                </div>

                {{ if eq .Type "project" }}
                    <hr class="border-gray-100 my-2"/>
                    <!-- buttons -->
                    <div class="flex flex-row space-x-2 mb-2">
                        {{ if ne .Params.repolink "" }}
                        <a href="{{ .Params.repolink }}" target="_blank" class="button"><i class="fab fa-github"></i> Git Repo</a>
                        {{ end }}
                        {{ if ne .Params.demolink "" }}
                        <a href="{{ .Params.demolink }}" target="_blank" class="button">Demo</a>
                        {{ end }}
                        {{ if ne .Params.bloglink "" }}
                        <a href="{{ .Params.bloglink }}" target="_blank" class="button">View Post</a>
                        {{ end }}
                    </div>
                    {{ end }}

                <hr class="border-gray-100 my-2"/>
                <div class="tags">
                    {{ if ne .Type "page" }}
                    {{ if gt .Params.tags 0 }}

                    <ul class="flat list-none flex flex-wrap justify-start items-center space-x-2">
                        <li>Tags:</li>
                        {{ range .Params.tags }}
                        <li><a class="text-blue-400" href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ end }}
                </div>
                <hr class="border-gray-100 my-2"/>
                <div class="share">

                    <div class="border-b border-gray-300 pb-4 mb-10" v-pre>
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_email"></a>
                            <a class="a2a_button_reddit"></a>
                            <a class="a2a_button_pocket"></a>
                            <a class="a2a_button_print"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->

                    </div>

                </div>
            </div>

        </main>
    </div>
    {{ partial "footer.html" . }}
</div>
</body>

</html>