<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="min-h-screen bg-white">
		{{ partial "head.html" . }}
		<div class="py-10">
			<header>
				<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
					<h1 class="text-3xl font-bold leading-tight text-gray-900">
						{{ .Name }}
					</h1>
				</div>
			</header>
			<main>
				<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
					{{ .Content }}
					{{ $data := .Data }}
					<ul class="posts mt-4">
					{{ range $key, $value := .Data.Terms.ByCount }}
						<li class="mb-4">
							<div class="post-header">
								<div class="meta">
									<div class="date">
										<span class="rest"></span>
									</div>
								</div>
								<div class="matter">
									<h4 class="title small">
										<a class="text-blue-500" href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">
											{{$value.Name }}
										</a> - <span class="text-sm italic text-gray-600">{{ $value.Count }} posts</span>
									</h4>
								</div>
							</div>
						</li>
					{{ end }}
					</ul>
				</div>
			</main>
		</div>
		{{ partial "footer.html" . }}
	</div>
</body>
</html>